@property --a {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
@property --b {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
@font-face {
    font-family: main;
    font-weight: regular;
    src: url("https://db.onlinewebfonts.com/t/5df15119da72f67fdbaa0ce6cc7b19c7.woff2") format('woff2');
    size-adjust: 135%;
}
@font-face {
    font-family: dropcap;
    font-weight: regular;
    src: url('https://raw.githubusercontent.com/unedansemacabre/roxytheme/main/fonts/Feinsliebchen Barock.ttf') format('truetype');
}

@keyframes fadeText {
    0% {
        opacity: 0.5;
        text-shadow: 2px 2px 8px black, 
        -2px -2px 8px black, 
        2px -2px 8px black, 
        -2px 2px 8px black;
    }
    100% {
        opacity: 1;
        text-shadow: 2px 2px 8px transparent, 
        -8px -8px 16px transparent, 
        8px -8px 16px transparent, 
        -8px 8px 16px transparent;;
    }
}

@keyframes shiny {
    0% {
        --a: 0%; 
        --b: 20%;
    }
    100%
    {
        --a: 80%; 
        --b: 100%;
    }
}

li[data-author-id="234141699234856960"] {
    background: url(https://raw.githubusercontent.com/unedansemacabre/roxytheme/main/images/paper.jpg) round;
    div[class*="messageContent"] {
        font-family: main !important;
        line-height: 1rem;
        color: #130E0A;
        margin-left: -7.8rem;
        margin-bottom: 0.2rem;
        overflow: visible;
        animation: fadeText 1s ease-in;
        animation-delay: 0s;
        h1,h2,h3 {
            font-family: main !important;
            color: #130E0A;
            font-size: 150%;
            font-weight: normal;
        }
        h2 {
            font-size: 130%;
        }
        h3 {
            font-size: 110%;
        }
        small {
            font-size: 70%;
            color: #AE8964;
        }
        strong{
            background-image: linear-gradient(to bottom right, #F4C430 var(--a), white, #F4C430 var(--b));
            -webkit-text-stroke: #AE8964 0.03rem;
            color: transparent;
            animation: shiny 3s ease infinite;
            animation-delay: 0s;
            background-clip: text !important;
        }
        img[class*="emoji"] {
            filter: drop-shadow(0px 0px 5px #ffb700)
        }
        span[class*="edited"] {
            color: #E34234;
        }
    }
    div[class*="message__"] {
        border-style: solid;
        border-bottom: none;
        border-width: 13px;
        border-image: url(https://raw.githubusercontent.com/unedansemacabre/roxytheme/main/images/border3.jpg) 61 61 61 61 repeat;
        padding-top: 0.3rem;
    }
    div[class*="groupStart"][class*="message__"] {
        box-shadow: inset 10px 0px 8px -8px #AE8964,
        inset -10px 0px 8px -8px #AE8964, 
        inset 0px 10px 8px -8px #AE8964;
    }
    div:not([class*="groupStart"])[class*="message__"] {
        border-top: none; 
        box-shadow: inset 10px 0px 8px -8px #AE8964,
        inset -10px 0px 8px -8px #AE8964;
    }
    div:not([class*="groupStart"])[class*="message__"]::first-letter {
        color: #56739A;
        font-size: 130%;
        text-transform: uppercase;
    }
    div[class*="groupStart"] div[class*="messageContent"] {
        padding-top: 1.2rem;
        min-height: 2rem;
    }

    div[class*="groupStart"] div:not([class*="repliedTextContent"])[class*="messageContent"]::first-letter {
        font-family: dropcap !important;
        text-transform: uppercase;
        margin-right: 0.05rem;
        box-shadow: inset -4px -4px #CCB647;
        background: none;
        background-color: #F4C430;
        color: #4B0082;
        font-weight: normal;
        text-shadow: none;
        float: left;
        initial-letter: 2;
        
    }
    img[class*="avatar"] {
        border-radius:0%;
        width: 2rem;
        height: 2rem;
        top: 0.1rem;
        margin-left: 0.2rem;
    }

    div[class*="message_"][class*="hasReply"] img[class*="avatar"] {
        margin-top: 1.7rem;
    }

    img[class*="avatarDecoration"] {
        width: 3.5rem;
        height: 3.5rem;
    }

    img[class*="avatar_"] {
        border: 0.5rem double #4B0082;
        box-shadow: 0px 0px 8px #4000ff91;
    }
    
    h3[class*="header"] {
        margin-right: 2rem;
        margin-left: 0.3rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        border-top: 0.3rem double #4B0082;
        border-bottom: 0.3rem double #4B0082;
        top: 0.2rem;
    }
    span[class*="username"] {
        font-family: main !important;
        color: #4B0082;
        font-size: 100%;
        line-height: 1.5rem;
    }
    div[class*="groupStart"] span[class*="timestamp"] {
        font-family: main !important;
        color: #130E0A;
        font-size: 70%;
    }
    div:not([class*="groupStart"]) span[class*="timestampVisibleOnHover"] > span {
        display: none;
    }

    div[id*="message-reply-context"] {
        margin-top: -0.9rem;
    }

    
    div[class*="repliedMessage"] img[class*="replyAvatar"] {
        margin-top: 0.8rem;
    }

    div[class*="repliedMessage"] span[class*="username"] {
        font-family: main !important;
        color: #4B0082;
        font-size: 85%;
        line-height: 1rem;
        top: 0.4rem;
    }

    div[class*="repliedMessageContentHovered"] {
        border-color:#AE8964;
    }

    div[class*="repliedMessageClickableSpineHovered"] {
        color:#AE8964 !important;
    }

    div[class*="repliedTextPreview"] {
        font-family: main !important;
        color: #130E0A;
        font-size: 80%;
        padding-bottom: 1.4rem;
        padding-left: 3.4rem;
    }
    div[class*="repliedTextContent"] {
        padding-bottom: 1.3rem;
    }

    div[class*="repliedMessage"] span[class*="clanTag"] {
        display:none;
    }

    div[class*="visualMediaItemContainer"] > div > div{
        border-style: solid;
        border-radius: 0%;
        border-width: 13px;
        overflow: visible;
        border-image: url(https://raw.githubusercontent.com/unedansemacabre/roxytheme/main/images/border3.jpg) 61 61 61 61  fill repeat;
    }
    div[id*="message-accessories"] {
        right: 3.3rem;
    }
    div[class*="reactions"] {
        div[class*="reactionInner"], div[class*="reactionBtn"] {
            border-radius: 0%;
            border: .15rem solid #960018;
            color: #AE8964;
            background-color: #BF3B26;
            
            div[class*="reactionCount"] {
                color: #AE8964;
                font-family: main;
                font-size: 60%;
            }
            img[class*="avatar"] {
                border-radius: 50%;
                border: none;
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 0rem;
            }
        }
    }
   
}
li[data-author-id="234141699234856960"]:nth-of-type(odd) {
    div:not([class*="groupStart"])[class*="message__"]::first-letter {
        color: #960018;
    }
}
li[data-author-id="234141699234856960"]:not(:has(+ li[data-author-id="234141699234856960"] > div:not([class*="groupStart"]))) {
    div[class*="message__"] {
        border-bottom: solid;
        border-width: 13px;
        box-shadow: inset 10px 0px 8px -8px #AE8964,
        inset -10px 0px 8px -8px #AE8964, 
        inset 0px -10px 8px -8px #AE8964;
    }
    div[class*="groupStart"][class*="message__"] {
        box-shadow: inset 10px 0px 8px -8px #AE8964,
        inset -10px 0px 8px -8px #AE8964, 
        inset 0px -10px 8px -8px #AE8964,
        inset 0px 10px 8px -8px #AE8964;
    }
}
